.days{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.days__prevnext{
    display: flex;
    justify-content: center;
    color:#2C58D6;
    font-weight: 500;
}

p:not(:last-child){
    margin-right: 245px;
}

.days section{
    color:#1F145D;
    font-style: italic;
    font-weight: 800;
}

p:not(:first-child){
    margin-left: 245px;
}

.days__week {
    border-bottom: 1px solid black;
    margin: 0 5% 30px 5%;
    font-size: 15px;
}

.days__week ul {
    list-style: none;
    display: flex;
}

.days__week ul :not(:first-child){
    margin-left: 38px;
}

.days__week li :hover{
    color: #2C58D6;
    cursor: pointer;
}