.header__title{
    color: #1F145D;
    display: flex
}

.header__title--line{
    flex: 1;
    margin-bottom: 20px;
}

#header__cart{
    display: block;
    border-radius: 10px;
    background: #E2E8F0;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center; 
  }

  .header__sdi{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  */
  display: flex;
  }

  .header__sdi--options{
      border: 1px solid #E2E8F0;
      color: #2C58D6; 
      font-weight: 900; 
  }

  